* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

section {
    padding: 16px;
}

.nav, .footer {
    background-color: #1f2937;
    padding: 8px 0;
}

.footer {
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li:nth-child(1) {
    color: #f9faf8;
    font-size: 24px;
    flex: 1;
}

.nav ul{
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero {
    background-color: #1f2937;
}

.hero-content {
    display: flex;
    gap: 24px;
    padding: 32px 0;
}

img {
    width: 400px;
    height: 200px;
}

.hero-text > h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: extrabold;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text > button {
    background-color: #3882f6;
    padding: 8px;
    width: 72px;
    border-radius: 8px;
    border: none;
    color: #e5e7eb;
    font-weight: bold;
    margin-top: 8px;
}